body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('e31f6cb3a13a96558dec61b566d24267.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 5px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    position: relative;
}

.container:hover {
    transform: scale(1.05);
}

.image {
    width: 70%;
    height: 100%;
    background-image: url(6fe44937059ef487bd92ad743dcf8b5f\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
