body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.buttons button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttons button:hover {
    background-color: #357abd;
}
.cube {
    width: 200px;
    height: 200px;
    background-color: #4CAF50; 
    animation: shrinkAndRotate 3s ;
}

@keyframes shrinkAndRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.5) rotate(0deg); /* დაპატარავება */
    }
    100% {
        transform: scale(0.5) rotate(360deg); /* დატრიალება დაპატარავებულზე */
    }
}