body {
      background-color: darkkhaki;
      color: #000;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    background-color: #000;
    color: white;
}
button:hover {
     background: #00cfa0;
}